body {
  padding: 0px;
  margin: 0px;
  overflow: hidden;

}

.mobileonly {
	display: none !important;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-o-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

h1 {
	font-family:'Brandon Grotesque Light';
	font-weight:normal;
	font-size:4em;
  letter-spacing: 0.4em;
	color: #000;
  margin-top: 0px;
	opacity: 0.7;
	text-align:center;
}

h2 {
  font-family:'Brandon Grotesque Light';
  font-weight:normal;
  font-size:3em;
  color: #000;
  opacity: 0.6;
  text-align: right;
  margin-bottom: 0px;
  margin-top: 0px;
  line-height: 1em;
}

h3 {
  font-family:'Brandon Grotesque Light';
  font-weight:normal;
  font-size:3em;
  color: #000;
  margin-top: 0px;
  opacity: 0.6;
	text-align: right;
  line-height: 1em;
}

.central-image {
  margin-left: auto;
  margin-right: auto;
  display: block;

}

.main {
  width: 1100px;
  position: absolute;
  z-index: 2;
  margin-left: 50%;
  left: -550px;
  overflow: visible;
  padding-top: 120px;
}

.main-left {
  display: flex;
  float: left;
  width:470px;
  position: relative;
  overflow: visible;
}

.main-left .central-image {
  top: 100px;
  width: 430px;
left: 35px;
  position: absolute;
  z-index: 9;

}



.overlay {
 position: absolute;
 width: 450px;
 height: 450px;
 z-index: 2;
 top: 5px;
/*clip-path: polygon(0% 0%, 0% 100%, 5% 100%, 5% 4%, 95% 4%, 95% 96%, 5% 96%, 0% 100%, 100% 100%, 100% 0%); */
overflow: hidden;
background: linear-gradient(-45deg, #fc074f ,#f40bb1);
background-size: 200% 200%;

-webkit-animation: AnimationName 15s infinite;
-moz-animation: AnimationName 15s infinite;
-o-animation: AnimationName 15s infinite;
animation: AnimationName 15s infinite;
overflow: hidden;
}

.main-right {

 float:right;
 width: 450px;
}

.main-right img {
 width: 100%;

}
/*
animation-duration: 3s;
animation-iteration-count: infinite;
animation-timing-function: ease-in-out;
*/


.trokutic2 {
  top:-150px;
  left: 240px;
  position: absolute;
  z-index: 1;
  height: 450px;


}

.trokutic3 {

  height: 1000px;
  position: absolute;
  z-index: 10;
  left: -280px;
  top: -250px;

}

.trokutic4 {

  position: absolute;
  z-index: 10;
  height: 450px;
  top: 220px;
  left: -120px

}

.trokutic5 {

  position: absolute;
  z-index: 9;
  height: 300px;
    top: -160px;
    left: -130px;

}


.trokutic6 {

  left:130px;
  top: -60px;
  height: 250px;
  position: absolute;
  z-index: 9;



}


.trokutic7 {
  position: absolute;
  z-index: 9;
  height: 140px;
top: 90px;
left: 90px;

}


.trokutic8 {
  position: absolute;
  z-index: 9;
  height: 700px;
left: -150px;
top: -130px;

}


.trokutic9 {
  position: absolute;
  z-index: 9;
  height: 320px;
top: -47px;
left: 37px;

}


.trokutic10 {
  position: absolute;
  z-index: 8;
  height: 90px;
  top: 360px;
  left: 350px;

}

.trokutic11 {
  position: absolute;
  z-index: 9;
  height: 50px;
top: 250px;
left: 30px;

}

.trokutic12 {
  position: absolute;
  z-index: 9;
  height: 550px;
  top: 450px;
  left: 530px;

}

.trokutic13 {
  position: absolute;
  z-index: 11;
height: 150px;
top: -73px;
left: 130px;

}

.trokutic14 {
  position: absolute;
  z-index: 10;
height: 600px;
top: -55px;
left: -110px;

}

#bg1 {
	position: absolute;
	width: 150%;
	left: -50%;
	height: 150%;
	background-image: url(../images/bg1.png);
	z-index: 0;
	opacity: 0.7;
}

#bg2 {
	position: absolute;
  width: 150%;
  left: -50%;
  height: 150%;
  background-image: url(../images/bg2.png);
	z-index: 0;
	opacity: 0.6;
 }

 #bg3 {
  position: absolute;
  width: 150%;
  left: -50%;
  height: 150%;
  background-image: url(../images/bg3.png);
  z-index: 0;
  opacity: 0.5;
 }


#flipper {
  display: inline-block;
}

@keyframes floating {
    from { transform: translate(0,  0px); }
    65%  { transform: translate(0, 7px); }
    to   { transform: translate(0, -0px); }
}


#overlay {
  position: fixed; /* Sit on top of the page content */
  display: block; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(149,0,243,0.1); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}

.band:hover #overlay {
  background-color: rgba(149,0,243,0.3);
}

.band-open {
  cursor: pointer;
  opacity: 0.8;
  position: absolute;
  top: 0px;
  z-index: 4;
  background-color: #fc074f;
background: linear-gradient(-45deg, #fc074f ,#f40bb1);
color: #fff;
transition: opacity 1s, transform 1s;


}

.band-open:hover {
  opacity: 1;
    -ms-transform: rotate(-90deg); /* IE 9 */
  -webkit-transform: rotate(-90deg); /* Safari */
  transform: rotate(-90deg);
}

.band-open-text {
  font-family:'Brandon Grotesque Light';
  font-weight:normal;
  font-size:2.5em;
  padding: 10px 20px 10px 20px;
	text-align:left;


}

.band {
  position: relative;
  cursor: pointer;
  float: left;
  width: 110px;
  margin-left: 0px;
  height: 465px;
  opacity: 0;
  overflow: hidden;
  background-position: center;
  border: 7px solid #fff;
}

.bands {
  width: 120%;
  position: absolute;
  left:0;
  top: 125px;
  z-index: 10;
}

.date {
  position: absolute;
  bottom: 0px;
  opacity: 0;
  transition: opacity 0.8s;
  font-family:'Brandon Grotesque Light';
  color: #9500f3;
  font-size: 2.5em;
  text-align: center;
  width: 100%;
  background: #fff;
}

.band:hover .date {
  opacity: 1;
  transition: opacity 0.5s;
}

.bandtext {
  position: absolute;
  opacity: 0.7;
  font-size:2em;
  background: #fff;
  font-family:'Brandon Grotesque Light';
  font-weight:normal;
  color: #000;
  text-align: left;
  -ms-transform: rotate(-77deg); /* IE 9 */
  -webkit-transform: rotate(-77deg); /* Safari */
  transform: rotate(-77deg);
    top: 208px;
    width: 470px;
    left: -260px;
    padding-bottom: 0px;
    padding-left: 195px;
}

.bandtext i {
  margin-right: 10px;
  opacity: 0;
  text-shadow: none;
  transition: opacity 0.3s;
}

.band:hover .bandtext i {
  opacity: 0.8;
  transition: opacity 0.3s;
}

.bandtext a i{
 color:#fff;
  text-decoration: none;

  text-shadow: none;
}

.band:hover .bandtext i:hover {
  transition: opacity 0.3s;
  opacity: 1;
  text-shadow: none;
}



#band1 {
  background-image: url("../images/luce.png");
  background-size: cover;
  transition: background-image 2s;
}

#band1:hover {
  background-image: url("../images/luce2.png");
    background-size: cover;
    transition: background-image 0.5s;

}


#band2 {
  background-image: url("../images/izlozba.jpg");
    background-size: cover;
    transition: background-image 2s;

}

#band2:hover {
  background-image: url("../images/izlozba2.jpg");
    background-size: cover;
    transition: background-image 0.5s;

}


#band3 {

  background-image: url("../images/bv.jpg");
  background-size: cover;
transition: background-image 2s;

}

#band3:hover {
  background-image: url("../images/bv2.jpg");
    background-size: cover;
    transition: background-image 0.5s;

}


#band4 {

  background-image: url("../images/npv.jpg");
  background-size: cover;
transition: background-image 2s;

}

#band4:hover {
  background-image: url("../images/npv2.jpg");
    background-size: cover;
    transition: background-image 0.5s;

}

#band5 {
  background-image: url("../images/ic3.jpg");
  background-size: cover;
  transition: background-image 2s;
}

#band5:hover {
  background-image: url("../images/ic32.jpg");
    background-size: cover;
    transition: background-image 0.5s;

}

#band6 {
  background-image: url("../images/bod.jpg");
  background-size: cover;
  transition: background-image 2s;
}

#band6:hover {
  background-image: url("../images/bod2.jpg");
    background-size: cover;
    transition: background-image 0.5s;

}

#band7 {
  background-image: url("../images/mapalma.jpg");
  background-size: cover;
  transition: background-image 2s;
}

#band7:hover {
  background-image: url("../images/mapalma2.jpg");
    background-size: cover;
    transition: background-image 0.5s;

}

#band8 {
  background-image: url("../images/bnnt.jpg");
  background-size: cover;
  transition: background-image 2s;
}

#band8:hover {
  background-image: url("../images/bnnt2.jpg");
    background-size: cover;
    transition: background-image 0.5s;

}

#band9 {
  background-image: url("../images/karma.jpg");
  background-size: cover;
  transition: background-image 2s;
}

#band9:hover {
  background-image: url("../images/karma2.jpg");
    background-size: cover;
    transition: background-image 0.5s;

}

#band10 {
  background-image: url("../images/bl.jpg");
  background-size: cover;
  transition: background-image 2s;
}

#band10:hover {
  background-image: url("../images/bl2.jpg");
    background-size: cover;
    transition: background-image 0.5s;

}


.triangles {
  width:100%;
  height: 100%;
  position: absolute;
  background: rgba(255,255,255,0.5);
  left:0;
  top: 0;
  z-index: 3;
}

.para {
	display: block;
}

.triangle {
  position: absolute;
  z-index: 5;
  background-image: url("../images/2sir.jpg");
	animation: float 6s ease-in-out infinite;
  animation-name: floating;
  animation-duration: 3.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-delay: 2s;
  background-size: cover;

}

.band:hover .bandtext {
  opacity: 1;
  color: #9500f3;
}



/* MOBILE */
