
html {
  padding: 0px;

}

body {
  padding: 0px;
  margin: 0px;
  width: 100%;
  overflow-x: hidden;
}

.pconly {
	display: none;
}

.main {
  width:100%;
}

.main-left {
  text-align: center;
  min-width: 200px;
  margin-top: 50px;
  width: 100%;
}

.main-right {
  text-align: center;
  white-space: nowrap;
}

.main-right img {
	
  width: 250px;
}

.main-left img {
  width: 100%;
}

h1 {
  font-family:'Brandon Grotesque Light';
  font-weight:normal;
  font-size:3em;
  color: #000;
  opacity: 0.85;
 letter-spacing: 0.14em;
  text-align:center;
  margin:0px 0px 0px 0px;
}

h2 {
  font-family:'Brandon Grotesque Light';
  font-weight:normal;
  margin-top: 10px;
  font-size:190%;
  color: #000;
  opacity: 0.85;
  text-align:center;
  margin:0px;
}

h3 {
  font-family:'Brandon Grotesque Light';
  font-weight:normal;
  font-size:150%;
  color: #000;
  line-height: 10px;
  opacity: 0.85;
  text-align:center;
  margin: 0px;
}

.band-open {
  display: none;
}

.bands {
  margin-top: 30px;
}

.band {
  overflow: hidden;
  display: block;
  position: relative;
  border-left: 5px solid #fff;
  border-top: 5px solid #fff;
  border-right: 5px solid #fff;
  background-position: center;
}

.bandtext {
  font-family:'Brandon Grotesque Light';
  color: #000;
  font-size: 2em;
  padding: 15px 0 15px 0;
  opacity: 1;
  text-align: right;
	width: 290px;
  padding: 5px 10px 5px 10px;
  margin-bottom:50px;
	background: #fff;
}


.date {
  display: block;
  font-family:'Brandon Grotesque Light';
  font-size: 2em;
   padding: 5px 10px 5px 10px;
  position: absolute;
  bottom: 0px;
  right: 0px;
  color: #fff;
}

#overlay {
  position: absolute; /* Sit on top of the page content */
  display: block; /* Hidden by default */
  top:0px;
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  background-color: rgba(149,0,243,0.2); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}


.band {
	background-position: center;
	background-size: cover;
	
}

#band1 {
    background-image: url("../images/luce.png");
    background-position: center 22%;
}



#band2 {
  background-image: url("../images/izlozba.jpg");
  background-position: center 50%;
}


#band3 {
  background-image: url("../images/bv.jpg");
background-position: center 25%;
}

#band4 {
  background-image: url("../images/npv.jpg");
background-position: center 25%;

}

#band5 {
  background-image: url("../images/ic3.jpg");
  background-position: center 10%;

}

#band6 {
  background-image: url("../images/bod.jpg");
background-position: center 20%;

}


#band7 {
  background-image: url("../images/mapalma.jpg");
background-position: center 0%;

}


#band8 {
  background-image: url("../images/bnnt.jpg");
background-position: center 15%;

}


#band9 {
  background-image: url("../images/karma.jpg");
  background-position: center 12%;
  
}


#band10 {
  background-image: url("../images/bl.jpg");
  background-position: center 25%;

}

